In [1]:
import pandas as pd
from sqlalchemy import create_engine
import getpass

In [2]:
#Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

········

In [15]:
# -- Check the number of rentals for each customer for May

query1 = """
        SELECT 
        customer_id, COUNT(*) AS may_rental
        FROM
        rentals_may
        GROUP BY customer_id;
        """

df_may = pd.read_sql_query(query1, engine)
df_may.shape

(520, 2)

In [14]:
# -- Check the number of rentals for each customer for June
# -- Hint: You can store the results from the two queries in two separate dataframes.

query2 = """
    SELECT 
    customer_id, COUNT(*) AS june_rental
    FROM
    rentals_june
    GROUP BY customer_id;
        """

df_june = pd.read_sql_query(query2, engine)
df_june.shape

(590, 2)

In [ ]:


# -- Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

# -- Hint: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. 
# Here is a link to the documentation for the merge function.

In [56]:
def customer_rental_comparator(df_may, df_june):

    customer = int(input('Enter the customer id:'))
    df_may_june = df_may.merge(df_june, how='outer', on='customer_id', sort=True)
    df_may_june = df_may_june.fillna(0.0)
    customer_query = df_may_june[df_may_june['customer_id'] == customer]

    may_rental = customer_query['may_rental'].values[0]
    june_rental = customer_query['june_rental'].values[0]

    if may_rental > june_rental:
        print('Customer with ID:', customer, 'borrowed more films in May.')
    elif may_rental < june_rental:
        print('Customer with ID:', customer, 'borrowed more films in June.')
    else:
        print('Customer with ID:', customer, 'borrowed the same number of films in May and June.')

In [57]:
customer_rental_comparator(df_may, df_june)

Enter the customer id:599
Customer with ID: 599 borrowed more films in June.
     customer_id  may_rental  june_rental
0              1         2.0          7.0
1              2         1.0          1.0
2              3         2.0          4.0
3              4         0.0          6.0
4              5         3.0          5.0
..           ...         ...          ...
593          595         1.0          2.0
594          596         6.0          2.0
595          597         2.0          3.0
596          598         0.0          1.0
597          599         1.0          4.0

[598 rows x 3 columns]